@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3pyrrw');
  src:  url('fonts/icomoon.eot?3pyrrw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3pyrrw') format('truetype'),
    url('fonts/icomoon.woff?3pyrrw') format('woff'),
    url('fonts/icomoon.svg?3pyrrw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\ea96";
}
.icon-github:before {
  content: "\eab0";
}
.icon-codepen:before {
  content: "\eae8";
}
